@model AIS.Data.Entities.Aircraft

@{
    ViewData["Title"] = "Delete Aircraft";
    var currentUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
}

<div class="container">
    <h2 class="text-muted" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Delete Aircraft</h2>
    <hr />
    <div class="row">
        <!-- Left: Aircraft info -->
        <div class="col-md-5">
            <partial name="_DetailsDelete" />
            <div>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger mr-2">
                        <i class="fa-solid fa-trash-can mr-2"></i>Delete
                    </button>
                    <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left mr-2"></i>Back</a>
                </form>

                @if (ViewBag.ShowMsg == true)
                {
                    <ejs-message id="msg_error" severity="Error" content="The Aircraft can't be deleted because it has Flights assigned!" style="margin-top: 1.2vh; border-radius: 5px;"></ejs-message>
                }

            </div>
        </div>
        <!-- Right: Image -->
        <div class="col-md-7">
            <dl class="row">
                <dt class="col-sm-12 mb-2">
                    Image
                </dt>
                <dd class="col-sm-12">
                    <img src="@Url.Content($"{currentUrl}{Model.ImageDisplay}")" alt="Aircraft Image" style="max-width:55%;height:auto" />
                </dd>
            </dl>
        </div>
    </div>
</div>