@model AircraftViewModel

@{
    ViewData["Title"] = "Edit Aircraft";
    var currentUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
}

<h2 class="text-muted" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Edit Aircraft</h2>
<hr />
<div class="row">

    <div class="col-md-4">
        <ejs-message id="msg_info" severity="Info" content="Only Aircraft active status and image can be updated!" style="margin-bottom: 5%; border-radius: 5px;"></ejs-message>

        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageUrl" />

            <!-- Fields readonly -->
            <div class="form-group">
                <label class="control-label">ID</label>
                <input type="text" class="form-control" value="@Model.Id" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" readonly />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" readonly />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rows" class="control-label"></label>
                <input asp-for="Rows" class="form-control" readonly />
                <span asp-validation-for="Rows" class="text-danger"></span>
            </div>

            <!-- Editable -->
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success mr-2">
                    <i class="fa-solid fa-check mr-2"></i>Save
                </button>
                <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left mr-2"></i>Back</a>
            </div>
        </form>
    </div>
    <!-- Empty for space-->
    <div class="col-md-2">

    </div>
    <!-- Right side: Image -->
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-12 mb-2">
                Image
            </dt>
            <dd class="col-sm-12">
                <img src="@Url.Content($"{currentUrl}{Model.ImageDisplay}")" alt="Aircraft Image" style="max-width:55%;height:auto" />
            </dd>
        </dl>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
