@model AIS.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<div style="display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 0 1rem; margin-bottom: 4vh; margin-top: 3.5vh">
    <!-- Heading centered -->
    <h2 class="text-muted" style="flex: 1; text-align: center; font-weight: bolder; margin: 0">
        Change Password
    </h2>
</div>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="CurrentPassword"></label>
                <input asp-for="CurrentPassword" type="password" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Confirm"></label>
                <input asp-for="Confirm" type="password" class="form-control" />
                <span asp-validation-for="Confirm" class="text-warning"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success mr-2">
                    <i class="fa-solid fa-check mr-2"></i>Save
                </button>
                <a asp-action="ChangeUser" class="btn btn-secondary"><i class="fa-solid fa-chevron-left mr-2"></i>Back</a>
            </div>

            @if (ViewBag.UserMessage != null)
            {
                <ejs-message id="@ViewBag.MsgId" severity="@ViewBag.Severity" content="@ViewBag.UserMessage" style=" border-radius: 5px;"></ejs-message>
            }

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
