@model EmailConfirmationViewModel
@{
    ViewData["Title"] = "Email Confirmation";
    string titleColorClass = Model.Title == "Confirm Email" ? "blue-title" : "green-title";

}

<style>
    .emailConfirm-container {
        margin-top: 32vh;
        text-align: center;
    }

    .emailConfirm-title {
        margin-bottom: 0.8rem;
        font-size: 4.3rem;
        font-weight: bolder;
    }

    .green-title {
        color: rgba(92, 184, 92, 0.5); 
    }

    .blue-title {
        color: rgba(30, 144, 255, 0.5);
    }
</style>


<div class="emailConfirm-container">
    <h1 class="emailConfirm-title @titleColorClass">@Model.Title</h1>
    <p class="emailConfirm-message" style="margin-bottom: -0.5rem">@Model.Message</p>
</div>
