@model AIS.Models.DeleteAccountViewModel

@{
    ViewData["Title"] = "Delete Account";
}

<div style="display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 0 1rem; margin-bottom: 4vh; margin-top: 3.5vh">
    <!-- Heading centered -->
    <h2 class="title-text" style="flex: 1; text-align: center; font-weight: bolder; margin: 0">
        Delete Account
    </h2>
</div>
<hr />

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post" id="deleteAccountForm">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <button type="submit" @ViewBag.State id="btnDeleteAccount" class="btn btn-danger mr-2">
                    <i class="fa-solid fa-trash-can mr-2"></i>Delete
                </button>
            </div>

            @if (ViewBag.ShowMsg == true)
            {
                <ejs-message id="msg_error" severity="Error" content="Account deletion not allowed! You have tickets for scheduled flights." style=" border-radius: 5px;"></ejs-message>
            }

        </form>
    </div>
</div>

<div id="deleteAccountDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Account Deletion</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this account?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnDeleteYes"><i class="fa-solid fa-check mr-2"></i>Yes</button>
                <button type="button" class="btn btn-danger" id="btnDeleteNo"><i class="fa-solid fa-xmark mr-2"></i>No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnDeleteAccount").click(function (e) {
                e.preventDefault(); // Prevent the form from being submitted immediately

                var form = $("#deleteAccountForm");

                // Trigger ASP.Net validation before showing modal
                if (form.valid()) {
                    $("#deleteAccountDialog").modal("show"); // Show the modal
                }
                else {
                    // If the form is not valid, display the ASP.Net validation messages
                    form.find("input").each(function () {
                        $(this).valid(); // Trigger the validation for each input field
                    });
                }
            });

            $("#btnDeleteYes").click(function () {
                $("#deleteAccountForm").submit(); // Submit the form
            });

            $("#btnDeleteNo").click(function () {
                $("#deleteAccountDialog").modal("hide"); // Hide the modal
            });
        });


    </script>
}

