@model AIS.Models.EditUserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<h2 class="text-muted" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Edit User</h2>
<hr />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="UserId" />
            <!-- Not editable Id -->
            <div class="form-group">
                <label class="control-label">User ID</label>
                <input type="text" class="form-control" value="@Model.UserId" readonly />
            </div>
            @if (ViewBag.Message != null)
            {
                <!-- Right side: Email Input -->
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" disabled />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <!-- Bottom: Submit and Back buttons -->
                <div class="form-group">
                    <button type="submit" class="btn btn-success mr-2" disabled>
                        <i class="fa-solid fa-check mr-2"></i>Save
                    </button>
                    <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left mr-2"></i>Back</a>
                </div>
            }
            else
            {
                <!-- Right side: Email Input -->
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <!-- Bottom: Submit and Back buttons -->
                <div class="form-group">
                    <button type="submit" class="btn btn-success mr-2">
                        <i class="fa-solid fa-check mr-2"></i>Save
                    </button>
                    <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left mr-2"></i>Back</a>
                </div>
            }
            <div>
                @if (ViewBag.Message != null)
                {
                    <ejs-message id="msg_warning" severity="Warning" content="@ViewBag.Message" style="margin-top: 1.2vh; border-radius: 5px;"></ejs-message>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


