@model AIS.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
}

<h2 class="title-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Recover Password</h2>
<hr />

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" id="btnRecoverPassword" data-loading-text='<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Processing'>
                    <i class="fa-solid fa-key mr-2"></i>Recover Password
                </button>
            </div>

            @if (ViewBag.ShowMsg != null)
            {
                <ejs-message id="msg_info" severity="Info" content="Instructions to recover your password were sent to your Email!" style="margin-top: 1.2vh; border-radius: 5px;"></ejs-message>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>

            // Script for button spinner
            $('#btnRecoverPassword').on('click', function () {
                var $this = $(this);
                var loadingText = $this.data('loading-text');

                if ($this.html() !== loadingText) {
                    // Change the button to the loading state with Bootstrap spinner 
                    $this.html(loadingText);
                }
            });

        </script>
    }
}


