@model AIS.Models.TicketViewModel

@{
    ViewData["Title"] = "Delete";
}

<div>
    <h2 class="title-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Cancel Ticket</h2>
    <hr />
    <dl class="row">
        <partial name="_DetailsDelete" />
    </dl>

    <form asp-action="Delete" method="post" id="cancelTicketForm">
        <input type="hidden" asp-for="@Model.User.Id" />
        <button type="button" class="btn btn-danger mr-2" id="btnCancelTicket" @ViewBag.State>
            <i class="fa-solid fa-trash-can mr-2"></i>Cancel
        </button>
        <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left mr-2"></i>Back</a>
    </form>
    <div class="row">
        <div class="col-sm-8">
            @if (ViewBag.ShowMsg == true)
            {
                <ejs-message id="msg_warning" severity="Warning" content="This Ticket cannot be canceled anymore! Ticket cancelation is only allowed until 24 hours before the Flight departure!" style="margin-top: 1.2vh; border-radius: 5px;"></ejs-message>
            }
        </div>
    </div>
</div>

<div id="cancelTicketDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Ticket cancellation</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel this Ticket?</p>
                <p>You will be refunded 25% of paid price!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnCancelYes"><i class="fa-solid fa-check mr-2"></i>Yes</button>
                <button type="button" class="btn btn-danger" id="btnCancelNo"><i class="fa-solid fa-xmark mr-2"></i>No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnCancelTicket").click(function (e) {
                e.preventDefault(); // Prevent the form from being submitted immediately
                $("#cancelTicketDialog").modal("show"); // Show the modal
            });

            $("#btnCancelYes").click(function () {
                $("#cancelTicketForm").submit(); // Submit the form
            });

            $("#btnCancelNo").click(function () {
                $("#cancelTicketDialog").modal("hide"); // Hide the modal
            });
        });
    </script>
}
