@model AIS.Data.Entities.Ticket

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2 class="title-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Ticket Details</h2>
    <hr />
    <dl class="row">
        <partial name="_DetailsDelete" />
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mr-2"><i class="fa-solid fa-pen mr-2"></i>Update</a>
    <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left mr-2"></i>Back</a>
</div>
