@model AIS.Data.Entities.Flight

@{
    ViewData["Title"] = "Cancel Flight";
}

<div>
    <h2 class="title-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Cancel Flight</h2>
    <hr />
    <partial name="_DetailsDelete" />
    <form asp-action="Delete" id="cancelForm">
        <input type="hidden" asp-for="Id" />
        <button type="submit" id="btnCancelFlight" class="btn btn-danger mr-2">
            <i class="fa-solid fa-trash-can mr-2"></i>Delete
        </button>
        <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left mr-2"></i>Back</a>
    </form>
    <div class="row">
        <div class="col-sm-8" style="margin-top: 1.2vh">
            @if (ViewBag.ShowMsg == true)
            {
                <ejs-message id="msg_warning" severity="Warning" content="This Flight has tickets allocated!" style=" border-radius: 5px;"></ejs-message>
            }
        </div>
    </div>
</div>

<div id="cancelDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Flight cancellation</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel this flight?</p>
                @if (ViewBag.ShowMsg == true)
                {
                    <p>This Flight has tickets allocated.</p>
                    <p>By cancelling this Flight all tickets will be fully refunded!</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnCancelYes" data-loading-text='<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Processing'>
                    <i class="fa-solid fa-check mr-2"></i>Yes
                </button>
                <button type="button" class="btn btn-danger" id="btnCancelNo"><i class="fa-solid fa-xmark mr-2"></i>No</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>

        // Script for button spinner
        $('#btnCancelYes').on('click', function () {
                var $this = $(this);
                var loadingText = $this.data('loading-text');

                if ($this.html() !== loadingText) {
                    // Change the button to the loading state with Bootstrap spinner and disable it
                    $this.html(loadingText);
                }
            });
    
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnCancelFlight").click(function (e) {
                e.preventDefault(); // Prevent the form from being submitted immediately
                $("#cancelDialog").modal("show"); // Show the modal
            });

            $("#btnCancelYes").click(function () {
                $("#cancelForm").submit(); // Submit the form
            });

            $("#btnCancelNo").click(function () {
                $("#cancelDialog").modal("hide"); // Hide the modal
            });
        });
    </script>
}