@model AIS.Data.Entities.Flight

@{
    ViewData["Title"] = "Delete Flight";
}

<div>
    <h2 class="text-muted" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Delete Flight</h2>
    <hr />
    <partial name="_DetailsDelete" />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger mr-2">
            <i class="fa-solid fa-trash-can mr-2"></i>Delete
        </button>
        <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left mr-2"></i>Back</a>
    </form>
</div>
