@model AIS.Data.Entities.Flight

@{
    ViewData["Title"] = "Flight Details";
}

<div class="container">
    <h2 class="title-text" style="text-align: center; margin-bottom: 4vh; font-weight: bolder; margin-top: 3.5vh">Flight Details</h2>
    <hr />
    <div class="row">
        <!-- Left: Aircraft info -->
        <div class="col-md-8">
            <partial name="_DetailsDelete" />
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mr-2"><i class="fa-solid fa-pen mr-2"></i>Edit</a>
                <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left mr-2"></i>Back</a>
            </div>
        </div>
        <!-- Right: Seats -->
        <div class="col-md-4">
            <dl class="row">
                <dd class="col-sm-12">
                    <div class="col-md-12 mb-3" style="padding-left: 0;">
                        <i class="fa-solid fa-square mr-2" style="color: #7dff7d;"></i>  Available Seats<br>
                        <i class="fa-solid fa-square mr-2" style="color: #ff5353;"></i>  Taken Seats
                    </div>
                    <div class="card cardSeats">
                        <div class="row" style="margin-right: 0 !important">
                            <table id="tableSeats" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><span style="margin-left: -6px; margin-right: -5px" class="icon-AIS-logo fa-lg"></span></th> <!-- Empty corner cell -->
                                        @for (int seatIndex = 1; seatIndex <= (Model.Aircraft.Capacity / Model.Aircraft.Rows); seatIndex++)
                                        {
                                            <th>@seatIndex</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int rows = Model.Aircraft.Rows;
                                        int seatsPerRow = Model.Aircraft.Capacity / rows;
                                    }

                                    @for (int rowIndex = 0; rowIndex < rows; rowIndex++)
                                    {
                                        <tr>
                                            <td class="rowIndex">@((char)('A' + rowIndex))</td> <!-- Row Label -->
                                            @for (int seatIndex = 1; seatIndex <= seatsPerRow; seatIndex++)
                                            {
                                                var seatLabel = $"{(char)('A' + rowIndex)}{seatIndex}"; // Seat Label
                                                if (seatLabel.Length > 1 && !Model.AvailableSeats.Contains(seatLabel))
                                                {
                                                    <td class="notAvailableSeat">
                                                        @seatLabel
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="availableSeat">
                                                        @seatLabel
                                                    </td>
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
