@using AIS.Data.Entities
@using AIS.Helpers
@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AIS</title>
    <!--  Bootstrap stylesheet -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--  Original website stylesheet -->
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/26.2.9/fluent.css" />
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/26.2.9/dist/ej2.min.js"></script>
    <!--  Fontawesome stylesheet -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <!--  Customized font for AIS logo, class: icon-AIS-logo -->
    <link rel="stylesheet" href="~/fonts/logo-font/style.css" />
    <!--  Stylesheet for own css (to separate from original site.css) -->
    <link rel="stylesheet" href="~/css/customized.css" />

    @inject Microsoft.Extensions.Configuration.IConfiguration Configuration
    @inject IUserHelper userHelper

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-primary bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="logo-ais" src="~/images/AIS-logo.png" style="height: 2.3rem; filter: brightness(0) invert(1);" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa-solid fa-bars" style="color:white"></span>
                </button>
                <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Flights" asp-action="Index">Flights</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Aircrafts" asp-action="Index">Aircrafts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Airports" asp-action="Index">Airports</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right mr-3">
                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                        {
                            <partial name="_AdminDropdown" />
                        }
                    </ul>

                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right mr-3">
                            <a class="nav-link text-light" asp-area="" asp-controller="Flights" asp-action="FlightRecords">Flight Records</a>
                        </ul>
                        <ul class="nav navbar-nav navbar-right mr-3">
                            <partial name="_UserDropdown" />
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div class="profile-image" style="border-radius:50%; height:auto; width:auto; overflow:hidden; display:flex; align-items: center; justify-content: center; height: 37px; width:37px">
                                    @{
                                        User user = await userHelper.GetUserByEmailAsync(this.User.Identity.Name);
                                    }
                                    <a asp-area="" asp-controller="Account" asp-action="ChangeUser"><img src="@user.ImageDisplay" alt="Profile Image" style="width:100%; height:100%; object-fit:cover; object-position: center" /></a>
                                </div>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-right-to-bracket mr-2"></i>Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light ml-1" asp-area="" asp-controller="Account" asp-action="Register"><i class="fa-solid fa-user-plus mr-2"></i>Register</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-light footer bg-primary">
        <div class="container" style="text-align: center; font-size: 0.9rem">
            Aero Info System
            <span class="icon-AIS-logo fa-lg ml-2" style="margin-bottom: 0rem"></span>
            <span class="ml-2">by Mauro Cunha</span>
            <a href="https://www.linkedin.com/in/cunhamauro/"><i class="fa-brands fa-linkedin fa-lg ml-2 text-light"></i></a>
            <a href="https://github.com/cunhamauro"><i class="fa-brands fa-github fa-lg ml-2 text-light"></i></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Syncfusion ASP.NET Core Script Manager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>
